body {

    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #f5f5f0;

}

/* Header Styling */

header {

    background-color: #2c503e;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;

}

/* Navigation Styling */

nav a {

    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 15px;
    font-weight: bold;

}

/* Section Styling */

section {

    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;

}


/* Button Styling */

button {

    background-color: #dbc234;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {

    background-color: #dbc234;

}